{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Forgot you password?{% endblock title %}

{% block content %}
    <h2>Forgot your password?</h2>
    <p>Enter your valid email below, and we'll email instruction for setting a new one !!</p>
    <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-danger" type="submit" value="send me instruction.">
    </form>
{% endblock content %}