{% extends 'base.html' %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
    <h1> Password Changed Successfully !!</h1>
    <p> Your Password was changed.</p>
{% endblock content %}