{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Password reset complete{% endblock title %}

{% block content %}
    <h2>Password reset completed !!</h2>
    <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">Log in Page</a>.</p>
{% endblock content %}