{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="jumbotron">
    <h2 class="display-4">Newspaper App</h2>
    <p class="lead">A Newspaper website built with Django.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View All Articles</a>
    </p>
    </div>
{#    {% if user.is_authenticated %}#}
{#        Hi {{ user.username }}#}
{#        <p><a href="{% url 'logout' %}">LogOut</a></p>#}
{#    {% else %}#}
{#        <p>You are not Logged-In !!</p>#}
{#        <a href="{% url 'login' %}">LogIn</a> |#}
{#        <a href="{% url 'signup' %}">SignUp</a>#}
{#    {% endif %}#}
{% endblock content %}