{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    <h2>Sign-Up</h2>
    <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">SignUP</button>
    </form>
{% endblock content %}
